<header class="header">
  <div class="header-left">
    <button class="menu-button" (click)="toggleSidebar()">
      <i class="material-icons">menu</i>
    </button>
    <a routerLink="/" class="logo">
      <span class="logo-text">Vidime</span>
    </a>
  </div>

  <div class="header-center">
    <div class="search-container">
      <input 
        type="text" 
        id="search-input"
        name="search-input"
        [(ngModel)]="searchQuery"
        placeholder="Search..."
        class="search-input"
      >
      <button class="search-button" (click)="onSearch()">
        <i class="material-icons">search</i>
      </button>
    </div>
  </div>

  <div class="header-right">
    @if(isLoggedIn && channel) {
      <div class="header-button bigger-icon">
        <i class="material-icons">video_call</i>
      </div>
    }
    <div class="auth-buttons">
      @if(!isLoggedIn) {
        <button (click)="onLogin()" class="login-button">
          <span>Sign In</span>
        </button>
      }
      @if(isLoggedIn) {
        <div class="account-menu">
          @if(channel) {
            <div class="channel-avatar">
              @if(channel.picture) {
                <img [src]="channel.picture">
              } @else {
                <div class="avatar-picture-fallback-background"></div>
                <i class="material-icons avatar-picture-fallback">account_circle</i>
              }
            </div>
          } @else {
            <button class="header-button" (click)="$event.stopPropagation()">
              <i class="material-icons">account_circle</i>
            </button>
          }
          <div class="dropdown-menu">
            @if(channel) {
            <a routerLink="/channel/me" class="dropdown-item">
              <i class="material-icons">person</i>
              <span>Manage Channel</span>
            </a>
            }
            <a routerLink="/channel/choice" class="dropdown-item">
              <i class="material-icons">switch_account</i>
              <span>Change Channel</span>
            </a>
            <div class="dropdown-divider"></div>
            <button (click)="onLogout()" class="dropdown-item">
              <i class="material-icons">logout</i>
              <span>Sign Out</span>
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</header>
