<div id="main-container">
  @if (error) {
    <app-hint-bubble [hint]="error" [isError]="true"></app-hint-bubble>
  }

  @if (successMessage) {
    <app-hint-bubble [hint]="successMessage" [isError]="false"></app-hint-bubble>
  }
  
  <div>
    <div id="video-player-container">
      <app-video-player [videoUrl]="videoPreviewUrl" [thumbnailUrl]="imagePreviewUrl"></app-video-player>
    </div>
    <div id="bottom-border-div"></div>
  </div>

  <form [formGroup]="videoForm" (ngSubmit)="onSubmit()" id="video-form">
    <div id="tags-container">
      @for (tag of addedTags; track $index) {
        <div class="tag-base added-tag" (click)="onTagRemove($index)" tabindex="0">
          <div class="added-tag-overlay">
            <i class="material-icons">clear</i>
          </div>
          {{ tag.name }}
        </div>
      }
      <div id="tag-add-tile" class="tag-base input-container-fx">
        <input type="text" id="tag-input" formControlName="tagName" placeholder="Tag name" maxLength="20" autocomplete="off"/>
        <i class="material-icons" id="tag-add-icon-button" type="button" (click)="onTagAdded()" [ngClass]="{ 'disabled': disabledAddTag }" tabindex="0">add</i>
      </div>
    </div>
    
    <div id="video-inputs">
      <div>
        <div class="input-label-wrapper">
          <label for="thumbnail-input" class="input-label">Thumbnail</label>
          <div class="clear-pick-button" (click)="onClearThumbnail()" [ngStyle]="{ display: imagePreviewUrl ? 'flex' : 'none' }">
            <i class="material-icons">clear</i>
          </div>
        </div>
        <div id="thumbnail-input-container" class="input-container-fx">
          @if (imagePreviewUrl) {
            <img [src]="imagePreviewUrl" id="preview-image"/>
          } @else {
            <div id="thumbnail-placeholder">
              <i class="material-icons">add_photo_alternate</i>
            </div>
          }
          <input type="file" id="thumbnail-input" formControlName="thumbnailName" accept="image/*" (change)="onFileSelected($event)"/>
        </div>
      </div>
      <div id="video-info-input-column">
        <div class="input-label-wrapper">
          <label for="video-input" class="input-label">Video info</label>
          <div class="clear-pick-button" (click)="onClearVideo()" [ngStyle]="{ display: videoPreviewUrl ? 'flex' : 'none' }">
            <i class="material-icons">clear</i>
          </div>
        </div>
        <div id="video-input-container" class="input-container-fx">
          <div id="video-info">
            <p><span>File:</span> {{ selectedVideoFile?.name || 'Not picked' }}</p>
            <p><span>Duration:</span> {{ videoDurationMillis > 0 ? (videoDurationMillis | formatDuration) : 'N/A' }}</p>
            <p><span>Size:</span> {{ selectedVideoFile?.size | formatFileSize }}</p>
          </div>
          <input type="file" id="video-input" formControlName="cdnName" accept="video/*" (change)="onFileSelected($event)"/>
        </div>
      </div>
    </div>

    <div id="main-divider"></div>
    
    <app-form-group-tile
      [control]="titleControl"
      controlName="title"
      [maxLength]="maxLengthTitle"
      label="Title"
      icon="title"
      placeholder="Video title"
      [errors]="[
        { type: 'required', message: 'Title is required' },
        { type: 'maxlength', message: 'Title cannot exceed 100 characters' }
      ]"
    ></app-form-group-tile>

    <app-form-group-tile
      [control]="descriptionControl"
      controlName="description"
      [maxLength]="maxLengthDescription"
      [useTextArea]="true"
      label="Description"
      placeholder="Describe your video"
      [errors]="[
        { type: 'required', message: 'Description is required' },
        { type: 'maxlength', message: 'Description cannot exceed 1000 characters' }
      ]"
    ></app-form-group-tile>

    <app-main-custom-button
      class="submit-button"
      type="submit"
      [disabled]="videoForm.invalid || isLoading"
      [isLoading]="isLoading"
      buttonText="Submit Video"
      loadingText="Submitting video..."
    ></app-main-custom-button>
  </form>
</div>
