<div class="form-group">
  <div class="description-header">
    <label [for]="controlName">{{ label }}</label>
    <div class="hint">
      {{ control.value?.length || 0 }}/{{ maxLength }}
    </div>
  </div>
  <div class="input-container">
    @if(icon) {
      <i class="material-icons">{{ icon }}</i>
    }
    @if(!useTextArea) {
      <input
        type="text"
        [id]="controlName"
        [formControl]="control"
        [placeholder]="placeholder"
        [class.error]="fetchFirstErrorMessage"
        autocomplete="off"
        [maxlength]="maxLength"
      >
    } @else {
      <textarea
        [id]="controlName"
        [formControl]="control"
        [placeholder]="placeholder"
        [class.error]="fetchFirstErrorMessage"
        [maxlength]="maxLength"
      ></textarea>
    }
  </div>

  @if(fetchFirstErrorMessage) {
    <app-form-error-message [content]="fetchFirstErrorMessage"></app-form-error-message>
  }
</div>