<div class="video-card" [style.min-width]="minWidth" [style.max-width]="maxWidth" tabindex="0" (click)="navigateToVideo(video.id, video.uuid)">
  <div class="thumbnail-container" [class.loading]="!thumbnailLoaded">
    <div class="loading-placeholder"></div>
    <img [src]="video.thumbnailUrl" (load)="onImageLoad()"/>
    <div class="duration">{{ video.duration | formatDuration }}</div>
    <div class="video-tags">
      @for (tag of video.tags; track tag.id) {
        <span class="tag">{{ tag.name }}</span>
      }
    </div>
  </div>
  <div class="video-info">
    <div *ngIf="video.channel !== undefined" class="channel-info">
      <div class="channel-avatar">
        <img [src]="video.channel.picture" [alt]="video.channel.name">
      </div>
      <div class="channel-details">
        <div class="channel-name">
          {{ video.channel.name }}
          <i class="material-icons verified" *ngIf="video.channel.verified">verified</i>
        </div>
      </div>
    </div>
    <h3 class="video-title">{{ video.title }}</h3>
    <div class="video-stats">
      <div class="stats-primary">
        <span>{{ video.views | formatNumber:'view':'views' }}</span>
        <span class="dot">•</span>
        <span>{{ video.addedAt | formatDate }}</span>
      </div>
    </div>
  </div>
</div>