<div id="video-section">
  <app-video-player [videoUrl]="video?.cdnUrl"></app-video-player>

  @if (video) {
    <div id="video-info">
      <div class="video-info-base">
        <div class="video-info-base-background"></div>
        <div class="video-title">{{ video.title }}</div>
        <div class="video-stats-container">
          <div class="video-stats">{{ video.views | formatNumber:'view':'views' }} <span class="dot">•</span> {{ video.addedAt | formatDate }}</div>
          <div class="rating-bar" [style.--rating-value]="video.avgRating">
            <span class="rating-value">{{ (video.avgRating * 100) | number:'1.0-0' }}%</span>
          </div>
        </div>
      </div>
      <div class="channel-info">
        <div class="channel-avatar channel-redirect" (click)="navigateToChannel(video.channel!.id, video.channel!.uuid)">
          <img [src]="video.channel!.picture" [alt]="video.channel!.name">
        </div>
        <div class="channel-details">
          <div class="channel-name">
            <span class="channel-redirect" (click)="navigateToChannel(video.channel!.id, video.channel!.uuid)">{{ video.channel!.name }}</span>
            @if (video.channel!.verified) {
              <i class="material-icons verified">verified</i>
            }
          </div>
          <div class="channel-stats">
            {{ video.channel!.subscribersCount | formatNumber:'sub':'subs' }} <span class="dot">•</span> {{ video.channel!.videosAmount | formatNumber:'video':'videos' }}
          </div>
        </div>
      </div>
      <div class="video-description-container">
        <div class="video-description">{{ video.description }}</div>
      </div>
    </div>
  }
</div>