:host {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(14, 14, 14, 1);
}

#video-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#video-player-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  max-height: 1280px;
}

#video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-player-container > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-player-container > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#video-player-container > img {
  opacity: 1;
  z-index: 5;
}

#video-player-container > img[hidden] {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#video-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#video-overlay:hover, #video-overlay:focus-within {
  opacity: 1;
}

#video-overlay:focus {
  outline: none;
  box-shadow: none;
}

#video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#video-controls::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 8 / 1;
  z-index: -1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  pointer-events: none;
}

#video-controls > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

#video-controls > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

#video-controls > div > div:hover,
#video-controls > div > div:focus-within {
  color: #1db954;
}

#middle-video-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#fullscreen-button > i, #state-button > i, #volume-button > i {
  font-size: 32px;
}

#mini-player-button > i {
  font-size: 28px;
}

#volume-controls {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#volume-slider {
  width: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out, width 0.2s ease-in-out, margin-left 0.2s ease-in-out;
  align-items: center;
  cursor: pointer;
}

#volume-controls:hover #volume-slider,
#volume-controls:focus-within #volume-slider {
  width: 100px;
  transform: scaleX(1);
  margin: 0 8px;
}